svg {
  border: 100px solid #eee;
}

text {
  font-family: 'Avenir', sans-serif;
  /* font-family: "Brush Script M7", cursive; */
}

body {
  display: flex;
}

/* .network-container {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}


.axis .domain {
  stroke: #bbb;
}

.axis .tick line {
  stroke: #bbb;
  stroke-width: 0.5;
  stroke-dasharray: 4, 2;
}

.axes-labels text {
  font-size: 0.6em;
  fill: #444;
} */