
body {
  box-sizing: inherit;
  margin: 0;
}

.main {
  display: grid;
  grid-template-columns: 20% 80%;
  padding: 10px;
  resize: both;
  max-width: 1080px;  
}

text {
  font-family: 'Avenir', sans-serif;
  /* font-family: "Brush Script M7", cursive; */
}

svg {
  box-sizing: inherit;
  border: 5px solid #ccc;
  width: 100%;
}

/* Main SVG Container */
.tei-network-container {
  position: relative;
  box-sizing: inherit;
  -webkit-text-size-adjust: none;
}

/* Tooltip */
.tooltip {
  position: absolute;
  text-align: left;
  padding: .4rem;
  background: #494e52;
  color: #f9f9f9;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
  font-size: .7rem;
}

.tipHeader {
  text-align: center;
}

/* Widget Container */
.widget-container {
  box-sizing: inherit;
  text-align: left;
  padding: 10px;
  background: #313639;
  color: #f9f9f9;
  resize: both;
}

.button {
  display: inline-block;
  padding: 15px 32px;
}

.slider {
  width: 90%;
  background-color: inherit;
}

/* Inputs */

/* Webkit */
input[type=range]::-webkit-slider-thumb {
  background-color: #f7cd14;
  outline: #313639;
}
input[type=range]::-webkit-slider-thumb {
  background-color: #f7cd14;
}
input[type=range]::-webkit-slider-thumb {
  background-color: #ccc;
}

/* Moz */
input[type="range"]::-moz-range-thumb {
  background-color: #f7cd14;
  outline: #313639;
}
input[type="range"]::-moz-range-progress {
  background-color: #f7cd14;
}
input[type="range"]::-moz-range-track {  
  background-color: #ccc;
}
