svg {
  box-sizing: inherit;
  border: 5px solid #ccc;
}

text {
  font-family: 'Avenir', sans-serif;
  /* font-family: "Brush Script M7", cursive; */
}

body {
  box-sizing: inherit;
  margin: 0;
}

.main {
  display: grid;
  grid-template-columns: 20% 80%;
  padding: 10px;
  width: 100%;
  max-width: 1080px;
}

/* Main SVG Container */
.tei-network-container {
  position: relative;
  box-sizing: inherit;
  -webkit-text-size-adjust: none;
}

/* Tooltip */
.tooltip {
  position: absolute;
  text-align: left;
  padding: .4rem;
  background: #313639;
  color: #f9f9f9;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
  font-size: .7rem;
}

.tipHeader {
  text-align: center;
}

/* .cardBackground .rect {
  background-color: #eee;
  fill: #eee;
  stroke: #333;
} */

/* Widget Container */
.widget-container {
  box-sizing: inherit;
  text-align: left;
  padding: 10px;
  background: #313639;
  color: #f9f9f9;
  /* border: 10px solid #ccc;
  border-radius: 8px; */
}