
/* Color Scheme

Copper: #bf752b
Pale Spring Bud: #f4f7be
Queen Blue: #33658a
Charcoal: #2f4858
Uranium Blue: #b9e6ff
________________________________________________________ */


/* Typography
________________________________________________________ */
body {
  /* background-color: #2f4858;
  color: #f4f7be; */
  margin: 0;
  font-family: Verdana, sans-serif, /* #f4f7be; */
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
}

h1, h2, h3, h4, h5, h6 {
  color: inherit;
  padding: 1%;
}

p {
  margin-left: 5%;
  margin-right: 10%;
}

mark {
  background-color: #f4f7be;
  color:  #2f4858;
  padding: 3px;
}

/* Table
________________________________________________________ */
table {
  border: 1px; /* #2f4858; */
  width: 75%;
  margin-left: 5%;
  margin-right: 10%;
  padding: 15px;
}

th, td {
  border-bottom: 1px solid; /* #33658a; */
}

tr:hover {
  /* background-color: #33658a; */
}

.highlight {
  background-color: #f4f7be;
}


/* Row
 ________________________________________________________ */
.row {
  margin: 5%;
  display: flex;
  flex-wrap: wrap;
}

/* Column
 ________________________________________________________ */
.col-md-3 {
  flex: 0 0 66.6%;
  max-width: 66.6%;
}

.col-md-4 {
  flex: 0 0 33.3%;
  max-width: 33.3%;
}


/* Header
________________________________________________________ */
.app-header {
  font-family: Verdana, sans-serif;
  margin: 0;
  padding: 0;
  height: 60px;
  line-height: 60px;
  /* background-color: #33658a;
  border-bottom: #b9e6ff; */
}

.app-header .app-header--title {
  font-size: 22px;
  padding-left: 5%;
}


/* Data Table
________________________________________________________ */
div.previous-next-container {
  background-color: inherit;
  /* color: inherit; */
  /* background-color: white; */
  /* background-color: #33658a; */
  color: black;
}

div.dash-table-container {
  /* background-color: #33658a; */
  background-color: inherit;
  /* color: inherit; */
  color: black;
  margin-left: 10%;
  margin-right: 20%;
}

/* Text Input
 ________________________________________________________ */
input.form-control {
  background-color: bg-secondary;
}


/* Radio Input
________________________________________________________ */
/* .radio-input {
  margin-left: 5%;
  margin-right: 10%;
} */


/* Text Input
________________________________________________________ */
/* .text-input {
  size: 15%;
  margin-left: 5%;
} */
