
/*
Copper: #bf752b
Pale Spring Bud: #f4f7be
Queen Blue: #33658a
Charcoal: #2f4858
Uranium Blue: #b9e6ff
 */

body {
  font-family: Verdana, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: #2f4858;
}

.highlight {
  background-color: #FBC300;
}

/* textarea {
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  /* height: 38px;
  padding: 6px 10px;
  border: 1px solid #2f4858;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: inherit;
  font-size: inherit;
} */
