/* 

This file maintains styles for visualizations created with d3.js.

For example, d3.schemes produce the color of nodes in network graphs.
D3js also determines colors in charts where color distinguish 
positive/negative values (like sentiments) or if text/background is dynamic 
(like subject bar charts texts).

 */

/* Dark Mode Colors
Xiketic: 110b11
Raisin Black: 242124
Black Coffee: 353135
Steel Teal: 688F88
Granny Smith Apple: 91f3b6
Opal: abc3c0;
Deep Champagne: FAD6A5
Antique White: fdeed8
Floral White: FFFAF0
Whitesmoke: f5f5f5
*/

/* Tooltip */
.tooltip {
    background-color: #242124;
    padding: 20px;
    border-radius: 20px;
    z-index: 10;
    pointer-events: none;
}

/* Networks */
div.network > svg {
    background-color: #f5f5f5;
    border-radius: 10px;
}

g.network-labels > text.label {
    fill: #110b11;
    font-size: 22px;
    font-weight: 500;
}

.network-tooltip {
    background-color: #242124;
    padding: 20px;
    border-radius: 20px;
    z-index: 10;
    pointer-events: none;
}

/* Bar and Line Graphs */
rect.bar {
    fill: #91f3b6;
}
path.domain {
    display: none;
}
path.line {
    stroke: #696969;
    stroke-width: 6;
    fill: none;
}

circle.line {
    fill: #110b11;
    stroke: #696969;
}
circle.subNodes {
    fill: #91f3b6;
    stroke: #110b11;
    
}

text.line {
    fill: #fdeed8;
    text-anchor: middle;
    pointer-events: none;
}
.xAxis .tick:nth-child(2) text {
    text-anchor: start;
}
.tick text {
    font-size: 16px;
}
.tick line {
    shape-rendering: CrispEdges;
    stroke: #dddddd;
}
.tick line.origin{
    stroke: #aaaaaa;
}

/* Graph Titles */
.subjText {
    fill: #fdeed8;
    font-size: 50px;
    font-weight: 700;
    margin-left: auto;
    margin-right: 0;
}
text.svgTitle {
    font-size: 22px;
    font-weight: 500;
    fill: #fdeed8;
}
text.svgSubTitle {
    font-size: 16px;
    font-weight: 500;
    fill: #fdeed8;
}
text.label {
    fill: #110b11;
    font-weight: 600;
}

text.valueLabel {
    fill: #fdeed8;
    font-weight: 300;
}

text.yearText {
    fill: #fdeed8;
    font-size: 64px;
    font-weight: 700;
    opacity: 0.25;
}

/* Dropdown Menu of Graphs  */
.dropbtn {
    background-color: #242124;
    color: #fdeed8;
}

/* Lollipop Charts (sentiments) */
div.lollipop-chart > div.tooltip {
    background-color: #242124;
    padding: 10px;
    border-radius: 20px;
    position: fixed;
    pointer-events: none;
}